// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
	.slideshow-wrapper {
		display: none;
	}
	.background {
		height: 369px!important;
	}
	#header-menu-links {
		margin-top: 115px;
		width: 100%;

		& > li {
			display: block;
			width: 100%;
		}
	}

	.section-title {
		border-bottom: 5px solid #69923B!important;
		margin-bottom: 15px;

		& > h5 {
			border-bottom: 0px!important;
			padding-left: 0px!important;
		}
	}
	#twitter-container {
		display: none;
	}

	// Post
	.news-item {
		& .title {
			margin-top: 15px;
		}
		& .date {
			width: 100%;
		}
	}

	// Footer
	footer {
		position: inherit!important;

		& #logoUsach {
			display: none!important;
		}

		& #colaboradores {

			& > .list {
				
				& > div {
					display: inline-block;
					min-height: 70px;
				}
			}
		}
	}
	#wrapper-ghost {
		height: 15px!important;
	}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */