
$verde_hidalgo: #69923B;
$font_grey: rgb(100,100,100);
$font_blue: rgb(54,82,168);
$font_main_grey: rgb(107, 107, 107);
$font_special: 'Oswald', sans-serif;
$font_normal: 'Noto Sans', sans-serif;
$font_logo: 'Lily Script One', cursive;
$font_title_grey: rgb(139, 139, 139);

$section-title-gray: rgb(213, 213, 213);

$header_blue: rgb(17, 71, 131);
$header_barcolor: rgb(22, 139, 6);
$header_barcolor: $verde_hidalgo;

$footer_grey: rgb(235, 235, 235);
$footer_height : 230px;

